# custom ignore for heavy fem files
pdf_2024Fall/pptx_format_SQC/*
pdf_2024Fall/videos/*
tutorials/ansys_backup/*
tutorials/pyEPR_tutorial1.aedtresults/*
tutorials/hfss_eig_f_convergence.csv
tutorials/pyEPR_tutorial1.aedt.auto
tutorials/pyEPR_tutorial1.aedt.lock
tutorials/shot750.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
tutorials/shot750.png
tutorials/shot750.png
tutorials/pyEPR_tutorial1.aedt.lock
